:root {
  --primary-color: #83217d;
  --secondary-color: #c1bcc8;
  --font-family: "Gill Sans", sans-serif;
  --font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
  padding: 0 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading-title {
  margin-bottom: 10px;
}

#title {
  font-size: 2rem;
  color: #550963;
  font-weight: bold;
  margin: 0;
  padding-top: 15px;
}

#line {
  height: 6px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 100%;
  margin: 5px 0;
}

.tool-bar {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.button {
  border-radius: 24px;
  font-size: 1rem;
  height: 40px;
  width: 120px;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: var(--font-family);
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: var(--primary-color);
  transform: translateY(-3px);
}

.button:active {
  transform: translateY(0);
}

.gantt-container {
  display: flex;
  justify-content:center;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto 0; 
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.gantt-chart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x:auto;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 5px 0 5px;
}

.gantt {
  overflow-x:auto;
}

/* Media Queries */
@media (max-width: 600px) {
  .header-container {
    padding: 0 10px;
  }

  #title {
    font-size: 1.5rem;
  }

  .tool-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .header-container {
    padding: 0 15px;
  }

  #title {
    font-size: 1.8rem;
  }

  .tool-bar {
    flex-wrap: wrap;
  }

  .button {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .header-container {
    padding: 0 20px;
  }

  #title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .gantt-container {
    flex-direction: column;
    height: auto;
  }

  .icon-container {
    flex-direction: row;
    overflow-x: auto;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .gantt {
    flex-grow: 0;
  }
}