:root {
  --primary-color: #83217d;
  --secondary-color: #c1bcc8;
  --font-family: "Gill Sans", sans-serif;
  --font-size: 20px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: #f3f1f3;
  margin: 0;
  padding: 0;
}

.text {
  margin-bottom: 20px;
}

#title {
  font-size: 2rem;
  color: #550963;
  font-weight: bold;
  margin: 0;
  padding: 15px;
}

.header-container {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
  padding: 0 20px;
}

.gantt-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto 0; 
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}