#title {
  font-size: 50px;
  color: #176B87;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
  display: inline-block;
}

#line {
  height: 10px;
  background-color: #64CCC5;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  display: block;
}

.button {
  border-radius: 24px;
  height: 40px;
  margin: 10px;
  width: 120px;
  background: #176B87;
  color: white;
  font-size: 80%;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  #title {
    font-size: 45px;
    text-align: center;
    width: 100%;
  }

  #line {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .gantt-container {
    width: 70%;
  }
}

.view-switcher {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 80px;
}

.heading{
  width: fit-content;
  text-align: center;
}

.center-container {
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

.icon-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.gantt{
  display: block;
  overflow-x: scroll;
}

.gantt-container {
  display:flex;
  font-size: large;
  margin:auto ;
  overflow: auto;
  width: 90%;
  border-radius: 20px;
  border: 1px solid #176B87;
  box-shadow: 0 15px 75px 0 rgba(23, 107, 135, 0.41);
  padding: 28px;
  padding-left: 0px;
  max-width: 1200px;
}
