body {
  font-family: "Gill Sans";
  background-color: #fff;
}

#title {
  font-size: 35px;
  color: #3e2d47;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0px;
}

#line {
  height: 6px;
  background-color: #a99d9f;
  border-radius: 15px;
  width: 85%;
  display: block;
  margin-top: 5px;
}

.flex-container
{ display: flex;
  flex-direction: column;
  justify-content: start;
}

.center-heading-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.tool-bar {
  font-family: Montserrat, sans-serif;
  display:flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
  height:65px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #3e2d47;
  box-shadow: 0 15px 35px 0 #a99d9f;
}

.button {
  border-radius: 24px;
  font-size: 100%;
  height: 40px;
  width: 120px;
  background: #a99d9f;
  color: white;
  border: 1px solid #3e2d47;
  cursor: pointer;
  text-align: center;
  font-family: "Gill Sans";

}

.heading-title{
  width:35%;
}

.icon-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.gantt{
  overflow-x: scroll;
}

.gantt-container {
  display:flex;
  justify-content:left;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #3e2d47;
  box-shadow: 0 15px 35px 0 #a99d9f;
  padding: 15px;
  margin-left: 25px;
  padding-left: 0px;
}

@media only screen and (max-width: 1150px) {
  #title {
    font-size: 37px;
    width: 100%;
  }

  #line {
    width: 100%;
  }

  .gantt-container {
    width: 80%;
  }

  .button {
    height: 26px;
    width: 85px;
    font-size: 0.6rem;
  }

  .Switch{
    font-size: 0.8rem;
  }

  .Switch input[type="checkbox"] {
    width: 9px;
    height: 9px;
  }

  .view-switcher {
    width: 105%;
    height: 45px;
    display: flex;
  }

  .textField-container {
    transform: scale(0.7);
    transform-origin: center;
  }
}

